<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="calmfox_smtp" frontName="calmfox_smtp">
            <module name="Calmfox_Smtp"/>
        </route>
    </router>
</config>
